<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2X8H2OTCQw8GCL0MpIEuZibtXJqAiqAI</string>
	<key>GCM_SENDER_ID</key>
	<string>94819528644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ksultanov.collate</string>
	<key>PROJECT_ID</key>
	<string>pdf-editor-and-scan-8439f</string>
	<key>STORAGE_BUCKET</key>
	<string>pdf-editor-and-scan-8439f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94819528644:ios:7c37f8f5af71800e363e91</string>
</dict>
</plist>